<%= form_with model: [:admin, @badge], local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :badge_title, class: "form-control" %>
  </p>

  <p>
    <%= form.label :rule %><br>
    <%= form.text_field :rule, id: :badge_rule, class: "form-control" %>
  </p>

  <p>
    <%= form.label :value %>
    <%= form.text_field :value, id: :badge_value, class: "form-control" %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image, id: :badge_image, class: "form-control" %>
  </p>

  <p> <%= form.submit %> </p>
<% end %>