<nav class="navbar navbar-light bg-light">
  <ul class="nav justify-content-end mt-3">
    <li class="nav-item">
      <%= link_to 'Badges', admin_badges_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to t('helpers.home_page'), admin_tests_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <a class="nav-link active>"> <%= t('helpers.welcome') %><%= current_user.email %> Guru </a>
    </li>
    <li>
      <%= button_to t('helpers.logout'), destroy_user_session_path, method: :delete, class: 'nav-link active' %>
    </li>
  </ul>
</nav>