<% if @test_passage.successfull? %>
  <h1><font color="green"><%= t('.header', title: @test_passage.test.title) %> <%= t('.success') %></font></h1>
<% else %>
  <h1><font color="red"><%= t('.header', title: @test_passage.test.title) %> <%= t('.fail') %></font></h1>
<% end %>
<%= link_to t('.back_to_tests'), tests_path %>