<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<b>
  <%= t('.current_question', number: @test_passage.current_question_number) %> <%= t('.of') %> <%= t('.total_questions', count: @test_passage.test.questions.count) %>
</b>
<div class="progress">
  <div class="progress-bar bg-success" id="progress-bar" data-progress="<%= @test_passage.percent_of_progress %>" aria-valuemax="100">
  </div>
</div>

<p>
  <b><%= @test_passage.current_question.body %></b>
</p>

<%= form_with url: test_passage_path(@test_passage), id: 'navform', method: :put, data: { difference_time: @test_passage.difference_time }   do |form| %>
  <%= form.collection_check_boxes :answer_ids,
                                  @test_passage.current_question.answers, :id, :body,
                                  include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>


  <p><%= link_to 'Gist question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('.next') %></p>
<% end %>

<%= content_tag :div, nil, class: 'timer' do %>
  <li><span id="minutes"><%= @test_passage.test.timer %></span>Minutes</li>
  <li><span id="seconds">00</span>Seconds</li>
<% end %>

