<div class="navbar-fixed-bottom row-fluid">
  <div class="navbar-inner">
    <div class="container">
      <p>
      <ul>
        <li>
          <strong><%= t('.year') %></strong>
          <%= current_year %>
        </li>

        <li>
          <strong><%= t('.author') %></strong>
          Rustam-ki
        </li>

        <li>
          <strong><%= t('.git') %></strong>
          <%= github_url('Rustam-ki', 'ror-2.7.3') %>
        </li>

        <li>
          <strong><%= t('.link') %></strong>
          <%= link_to 'Учебный проект в онлайн - школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
        </li>

        <li>
          <strong><%= t('.link') %></strong>
          <%= link_to 'Обратная связь', new_contact_path %>
        </li>
      </ul>
    </div>
  </div>
</div>