<p id="notice"><%= notice %></p>

<p>
  <%= @answer.question.body %>
</p>
<p>
  <b><%= t('.answer') %></b>
  <%= @answer.body %>
</p>
<p>
  <b><%= t('.correct') %></b>
  <%= @answer.correct %>
</p>

<%= link_to t('helpers.edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('helpers.back'), admin_question_path(@answer.question) %>
