<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <strong><%= t('.level') %></strong>
</p>

<p>
<h2><%= t('.questions') %></h2>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</p>
<%= link_to t('helpers.edit'), edit_admin_test_path(@test) %>
<%= link_to t('helpers.back'), admin_tests_path %>